<!DOCTYPE html>

<html>
    <head>
        <title>ReservaTrip • San Jose</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="CSS/CSS.css" rel="stylesheet" type="text/css"/>
        <script src="https://kit.fontawesome.com/e32421c37b.js" crossorigin="anonymous"></script>
    </head>


    <aside class="barralateral">
        <br><br><br><br><br>
        <h2>Otras provincias</h2>
        <br><br>
        <a id="linkP" th:href="@{/Alajuela}"><h3>Alajuela</h3><br></a>
        <a id="linkP" th:href="@{/Cartago}"><h3>Cartago</h3><br></a>
        <a id="linkP" th:href="@{/Heredia}"><h3>Heredia</h3><br></a>
        <a id="linkP" th:href="@{/Puntarenas}"><h3>Puntarenas</h3><br></a>
        <a id="linkP" th:href="@{/Guanacaste}"><h3>Guanacaste</h3><br></a>
        <a id="linkP" th:href="@{/Limon}"><h3>Limon</h3></a>

    </aside>


    <body class="body2">

    <center>

        <br><h1>Hoteles en San José</h1>


        <br><br><br><br><br>


        <h2>  Barceló San José  </h2>
        <figure class="image2 fade">
            <img src="Imagenes/1SanJose1.jpeg" alt=""/>
            <figcaption><a th:href="@{/H1SJ}" class="figcap2">Visitar Hotel</a></figcaption>


        </figure>


        <br><br><br><br><br>


        <h2>  Radisson Hotel San José  </h2>
        <figure class="image2 fade">
            <img src="Imagenes/1SanJose2.jpeg" alt=""/>
            <figcaption><a th:href="@{/H2SJ}" class="figcap2">Visitar Hotel</a></figcaption>


        </figure>


        <br><br><br><br><br>


        <h2>  Wyndham Garden San José Escazú  </h2>
        <figure class="image2 fade">
            <img src="Imagenes/1SanJose3.jpeg" alt=""/>
            <figcaption><a th:href="@{/H3SJ}" class="figcap2">Visitar Hotel</a></figcaption>

        </figure>

    </center>

    <header class="header">

        <nav class="nav ">
            <a th:href="@{/}" class="logo fuente">ReservaTrip</a>
            <ul class="menu">
                <li class="item"><a class="link fuente" th:href="@{/Catalogo}"><i class="fa-solid fa-arrow-left"></i></a></li>
                <li class="item"><a class="link fuente" th:href="@{/GuiaDeUso}">Guia de Uso</a></li>
                <li class="item"><a class="link fuente" >Gestionar Reservaciones</a></li>                                       
                <li class="item"><a class="link fuente" th:href="@{/Catalogo}" >Catalogo</a></li>                    
                <li class="Separador"></li>
                <li class="itemD"><a class="link fuente" href="https://www.instagram.com/reservatrip_cr/" ><i class="fa-brands fa-instagram"></i></a></li>
                <li class="itemD"><a class="link fuente" href="https://twitter.com/ReservaTrip"><i class="fa-brands fa-twitter"></i></a></li>
                <li class="itemD"><a class="link fuente" href="https://www.youtube.com/channel/UCibxKuw_BOQm1gwIBQUDKNA"><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
        </nav>

    </header>


    <br><br><br><br>
    <footer class="footer">
        <p>Para mas informacion llama al 2266-0632</p>
    </footer>
</body>
</html>
