<html>
    
    <head>
        <title>ReservaTrip • Catalogo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="CSS/CSS.css" rel="stylesheet" type="text/css"/>
        <script src="https://kit.fontawesome.com/e32421c37b.js" crossorigin="anonymous"></script>
        
    </head>
    
    <body>
        <header class="header">

            <nav class="nav ">
                <a th:href="@{/}" class="logo fuente">ReservaTrip</a>
                <ul class="menu">
                    <li class="item"><a class="link fuente" th:href="@{/}"><i class="fa-solid fa-arrow-left"></i></a></li>
                    <li class="item"><a class="link fuente" th:href="@{/GuiaDeUso}">Guia de Uso</a></li>
                    <li class="item"><a class="link fuente" >Gestionar Reservaciones</a></li>                                       
                    <li class="item"><a class="link fuente" th:href="@{/Catalogo}">Catalogo</a></li>                    
                    <li class="Separador"></li>
                    <li class="itemD"><a class="link fuente" href="https://www.instagram.com/reservatrip_cr/" ><i class="fa-brands fa-instagram"></i></a></li>
                    <li class="itemD"><a class="link fuente" href="https://twitter.com/ReservaTrip"><i class="fa-brands fa-twitter"></i></a></li>
                    <li class="itemD"><a class="link fuente" href="https://www.youtube.com/channel/UCibxKuw_BOQm1gwIBQUDKNA"><i class="fa-brands fa-youtube"></i></a></li>
                </ul>
            </nav>
            
        </header>
        <br><br>
        
        <article>
            <center> 
                
                <a th:href="@{/SanJose}"> <img src="Imagenes/1SanJose.jpeg" alt=""/></a>
                <br><br><footer class="descripProvinia">La capital del país que se encuentra rodeada de volcanes y verdes cerros,<br>
                    lo cual expone la riqueza natural que posee Costa Rica, esta provincia con su<br>
                    diversa arquitectura cuenta con puntos de interés como esculturas y colores<br>
                    que cuentan la historia de la provincia. Los principales atractivos de la <br>provincia son el teatro nacional y el estadio nacional.</footer>
                
            </center>
        </article>
        
        
        <br><br><br><br><br>
        
        
        <article>
            <center>
                
                <a th:href="@{/Alajuela}"> <img src="Imagenes/2Alajuela.jpeg" alt=""/></a>
                <br><br><footer class="descripProvinia">Esta provincia es la primera que los turistas conocen al llegar al territorio<br>
                    costarricense, esto se debe a que en Alajuela se encuentra el aeropuerto<br> 
                    Juan Santamaria, el cual es el aeropuerto principal del país. En este territorio<br>
                    se encuentran los dos volcanes más impresionantes los culés son:<br> Volcán Arenal y Volcán Poas.</footer>
                
            </center>
        </article>
        
        
        <br><br><br><br><br>
        
        
        <article>
            <center>
                
               <a th:href="@{/Cartago}"> <img src="Imagenes/3Cartago.jpeg" alt=""/></a>
               <br><br><footer class="descripProvinia">Mejor conocida como la vieja metrópoli, Cartago es la provincia más <br>
                   colonial del país y un ejemplo que respalda esto es el templo de Ororsi<br> 
                   el cual se considera histórico y la Basílica de los ángeles que es un símbolo <br>
                   para los católicos. Con un clima húmedo dentro de un sistema montañoso <br>
                   en donde se sitúan los volcanes Irazú y Turrialba, hacen que Cartago sea<br>
                   una excelente provincia para vacacionar</footer>
               
            </center>
        </article>
        
        
        <br><br><br><br><br>
        
        
        <article>
            <center>
                
               <a th:href="@{/Heredia}"> <img src="Imagenes/4Heredia.jpeg" alt=""/></a>
               <br><br><footer class="descripProvinia">Aun siendo la provincia más pequeña, sus zonas montañosas de esta se <br>
                   caracterizan por las grandes extensiones de bosques y el clima agradable<br> 
                   lo cual la convierte como el sitio ideal para aquellas personas que quieran <br>
                   pasar un fin de semana alejados de la ciudad con un clima fresco y vistas <br>
                   increíbles </footer>
               
            </center>
        </article>
        
        
        <br><br><br><br><br>
        
        
        <article>
            <center>
                
               <a th:href="@{/Puntarenas}"> <img src="Imagenes/5Puntarenas.jpeg" alt=""/></a>
               <br><br><footer class="descripProvinia"> Puntarenas no solo se basa en hermosas playas también tiene otros puntos<br> 
                   atractivos como Muelle grande, la catedral y el parque mora cañas.<br> 
                   También está el característico faro y el paseo de los turistas</footer>
               
            </center>
        </article>
        
        
        <br><br><br><br><br>
        
        
        <article>
            <center>
                
                <a th:href="@{/Guanacaste}"><img src="Imagenes/6Guanacaste.jpeg" alt=""/></a>
                <br><br><footer class="descripProvinia">En esta provincia se encuentra una importante parte del patrimonio natural<br>
                    y cultural costarricense por lo cual hay muchas áreas protegidas con <br>
                    ecosistemas acuáticos, montañosos y terrestres. La belleza de sus paisajes<br>
                    que van desde el bosque seco tropical hasta el bosque montañoso, su cálido<br> 
                    clima y su fértil naturaleza, han hecho que Guanacaste sea uno de los lugares<br> más solicitados por el turismo local e internacional</footer>
                
            </center>
        </article>
        
        
        <br><br><br><br><br>
        
        
        <article>
            <center>
                
                <a th:href="@{/Limon}"><img src="Imagenes/7Limon.jpeg" alt=""/></a>
                <br><br><footer class="descripProvinia">Rodeada de cerradas junglas, imponentes montañas y paradisíacas playas,<br> 
                    la  provincia caribeña es un paraíso natural. Playas como Puerto viejo, <br>
                    Cahuita y punta uva y el parque braulio carrillo hace que limón sea un <br>\
                    excelente sitio para ir de vacaciones</footer>
                
            </center>
        </article>
        
        
        
        <br><br><br><br><br>
        <footer class="footer2">
            <p>Para mas informacion llama al 2266-0632</p>
        </footer>
    </body>
</html>
