*{
    margin: 0;
    box-sizing: border-box;
}

body{
    fot-family: sans-serif;
    padding: 90px 20px 0;
    background-color: whitesmoke;
}


.header{
    background-color: #17A589;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    bottom:0px;
    width: 100%;
  
}


.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}
.fuenteL{
    text-align: left;
    color: white;
    text-decoration: none;
}

.fuente{
    color: white;
    text-decoration: none;
}

.logo{
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;

}

.menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.item{
    font-size: 20px;
    margin: 0 10px;
    line-height: 80px;
    width: max-content;
}

.itemD{
    font-size: 20px;
    margin: 0 10px;
    line-height: 80px;
    width: max-content;
}

.Separador{
    margin: 0 50px;
}

.link:hover{
    background-color: #566573;
    transition: 0.5s;
}

.link {
    padding: 8px 12px;
    border-radius: 4px;
}
.descripcion{
    text-align: center;
    font-size: 20px;
    font-weight: lighter;

}
.footer {
   text-align: center;
   color:whitesmoke;
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#566573;
}
/*.footer {
    text-align: center;
    top:0;
    color:whitesmoke;
    position:fixed;
    left:0px;
    bottom:0px;
    height:80px;
    width:100%;
    background:#17A589;
}*/

.footer2 {
   text-align: center;
   color:whitesmoke;
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#566573;
}



.descripProvinia{
    font-size: 20px;
}

.pieDeVideo{
    font-weight: bold;
}

@import url('https://fonts.googleapis.com/css?family=Exo');

.image {
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,.1);
    background-color:#17A589;
    color:whitesmoke;
    overflow: hidden;
    margin: 15px auto;
    position: relative;
    width: 1500px;
}

figure img {
    border-radius: 5px;
    height: 100%;
    transition: all .23s ease;
    width: 100%;
}

.image figcaption {
    color: #566573;
    height: 100%;
    left: 0;
    line-height: 200px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}


.image.fade figcaption {
    opacity: 0;
    visibility: hidden;
}

.image.push:hover > img {
    transform: translateY(-350px);
}

.image.push:hover > figcaption {
    transform: translateY(0px);
}

.image.fade:hover > img {
    opacity: 0;
    visibility: hidden;
}

.image.fade:hover > figcaption {
    opacity: 1;
    visibility: visible;
}

.figcap{
    font-size: 32px;
    text-decoration: none;
    color:whitesmoke;

}


/*----------------------------------------------------------------------------------------------------------*/

.image2 {
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,.1);
    background-color:#17A589;
    color:whitesmoke;
    overflow: hidden;
    margin: 15px auto;
    position: relative;
    width: 800px;
}

figure img {
    border-radius: 5px;
    height: 100%;
    transition: all .23s ease;
    width: 100%;
}

.image2 figcaption {
    color: #566573;
    height: 100%;
    left: 0;
    line-height: 400px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}


.image2.fade figcaption {
    opacity: 0;
    visibility: hidden;
}

.image2.push:hover > img {
    transform: translateY(-350px);
}

.image2.push:hover > figcaption {
    transform: translateY(0px);
}

.image2.fade:hover > img {
    opacity: 0;
    visibility: hidden;
}

.image2.fade:hover > figcaption {
    opacity: 1;
    visibility: visible;
}


.figcap2{
    font-size: 32px;
    text-decoration: none;
    color:whitesmoke;
}


/*----------------------------------------------------------------------------------------------------------*/

.body2
{
    fot-family: sans-serif;
    padding: 90px 20px 0;
    background-color: whitesmoke;
    position: absolute;
    top: 12%;
    left: 20%;
    height: 82%;
    width: 75%;
    padding: 10px;
    overflow: auto;
}


.barralateral{
    font-size: 22px;
    color:#17A589;
    position: fixed;
    top: 8.50%;
    left: 0;
    height: 100%;
    width: 15%;
    background-color: #F9ECC2;
    padding: 10px;
    position: fixed;
    text-align: center;
}


#linkP{
    color:black;
    text-decoration: none;
}




