<html>
    <head>
        <title>ReservaTrip • Bella Vista Ranch Ecolodge</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="CSS/CSS.css" rel="stylesheet" type="text/css"/>
        <script src="https://kit.fontawesome.com/e32421c37b.js" crossorigin="anonymous"></script>
        <link href="CSS/CSS.css" rel="stylesheet" type="text/css"/>
    </head>


    <aside class="barralateral">
        <br><br><br><br><br>
        <h2>Otras provincias</h2>
        <br><br>
        <a id="linkP" th:href="@{/SanJose}"><h3>San Jose</h3><br></a>
        <a id="linkP" th:href="@{/Alajuela}"><h3>Alajuela</h3><br></a>
        <a id="linkP" th:href="@{/Heredia}"><h3>Heredia</h3><br></a>
        <a id="linkP" th:href="@{/Puntarenas}"><h3>Puntarenas</h3><br></a>
        <a id="linkP" th:href="@{/Guanacaste}"><h3>Guanacaste</h3><br></a>
        <a id="linkP" th:href="@{/Limon}"><h3>Limon</h3></a>

    </aside>


    <body class="body2">

     

    <center>
        
        <h1>Bella Vista Ranch Ecolodge</h1>
        
        <br>

        <section>
            

            <video width="320" height="240" controls>
                <source src="../../static/Imagenes/videos/3Cartago1.mp4" type="video/mp4">
                Your browser does not support the <code>video</code> tag.
            </video>
            
            <br><br><br>
            
            <p class="descripHotel">El Bella Vista Ranch Ecolodge se encuentra en Turrialba y tiene jardín, terraza y salón compartido.<br>
                También cuenta con mostrador de información turística y restaurante.</p>
            
            <br><br>
            
            <p>Precio por noche: CRC 32.141</p>
            
            <br><br>
            
            <a class="descripHotel" href="https://www.booking.com/hotel/cr/bella-vista-ranch.es.html?aid=335794;label=cartago-61EjhZqPqKCjIvgnouSCcwS388385263149%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atiaud-1110454565467%3Akwd-3519445740%3Alp1003673%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YcGt_tphEo8pIl_maCbfiNw;sid=39cb49e29eeed4a1bf9ac1399a0a166d">Pagina del hotel</a>
           
            <br><br>
            
            <form >
            <input class="boton" type="submit" name="guardar" value="Reservar"/>
            </form>
            
            <br><br><br><br><br><br>
            
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.050165852877!2d-83.61981868480156!3d9.92978027696296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0d49e17eb4fcd%3A0xe1eab24b75614547!2sBella%20Vista%20Ranch%20Ecolodge!5e0!3m2!1ses-419!2scr!4v1649116455785!5m2!1ses-419!2scr"
                   width="700" height="550" style="border:0;" allowfullscreen=""  referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <p class="descripHotel">¡Ubicanos!</p>
        </section>


    </center>


    <br><br><br><br>
    <footer class="footer">
        <p>Para mas informacion llama al 2266-0632</p>
    </footer>
</body>
</html>