<html>
    <head>
        <title>ReservaTrip • Lodge Las Estrellas de Samara</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="CSS/CSS.css" rel="stylesheet" type="text/css"/>
        <script src="https://kit.fontawesome.com/e32421c37b.js" crossorigin="anonymous"></script>
        <link href="CSS/CSS.css" rel="stylesheet" type="text/css"/>
    </head>


    <aside class="barralateral">
        <br><br><br><br><br>
        <h2>Otras provincias</h2>
        <br><br>
        <a id="linkP" th:href="@{/SanJose}"><h3>San Jose</h3><br></a>
        <a id="linkP" th:href="@{/Alajuela}"><h3>Alajuela</h3><br></a>
        <a id="linkP" th:href="@{/Cartago}"><h3>Cartago</h3><br></a>
        <a id="linkP" th:href="@{/Heredia}"><h3>Heredia</h3><br></a>
        <a id="linkP" th:href="@{/Puntarenas}"><h3>Puntarenas</h3><br></a>
        <a id="linkP" th:href="@{/Limon}"><h3>Limon</h3></a>

    </aside>


    <body class="body2">

    

    <center>
        
        <h1>Lodge Las Estrellas de Samara</h1>
        
        <br>

        <section>

            
            <video width="320" height="240" controls>
                <source src="../../static/Imagenes/videos/6Guanacaste2.mp4" type="video/mp4">
                Your browser does not support the <code>video</code> tag.
            </video>
            
            <br><br><br>
            
            <p class="descripHotel">El Lodge Las Estrellas de Samara se encuentra en Sámara, a 3 km de la playa de Samara,<br>
                y ofrece alojamiento con restaurante, aparcamiento privado gratuito, piscina al aire libre y bar.</p>
            
            <br><br>
            
            <p>Precio por noche:CRC 66.854</p>
            
            <br><br>
            
            <a class="descripHotel" href="https://www.booking.com/hotel/cr/lodge-las-estrellas-de-samara.es.html?aid=356980;label=gog235jc-1DCAYoM0IKZ3VhbmFjYXN0ZUgKWANoM4gBAZgBCrgBGMgBDNgBA-gBAfgBAogCAagCBLgC_c7IkQbAAgHSAiRkZTE1MjhmMi03MzA2LTRiMGItYTkxZC0yOTEyMGUxMTI5NDTYAgTgAgE;sid=39cb49e29eeed4a1bf9ac1399a0a166d">Pagina del hotel</a>
           
            <br><br>
            
            <form >
            <input class="boton" type="submit" name="guardar" value="Reservar"/>
            </form>
            
            <br><br><br><br><br><br>
            
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.3962198278464!2d-85.50304008480177!3d9.900920177447883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f9fa932d668af71%3A0x82d86a7fa052aea7!2sLodge%20Las%20Estrellas%20de%20Samara!5e0!3m2!1ses-419!2scr!4v1649118006803!5m2!1ses-419!2scr" 
                   width="700" height="550" style="border:0;" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <p class="descripHotel">¡Ubicanos!</p>
        </section>


    </center>


    <br><br><br><br>
    <footer class="footer">
        <p>Para mas informacion llama al 2266-0632</p>
    </footer>
</body>
</html>

