<html>
    <head>
        <title>ReservaTrip • Wyndham Garden San José Escazú</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="CSS/CSS.css" rel="stylesheet" type="text/css"/>
        <script src="https://kit.fontawesome.com/e32421c37b.js" crossorigin="anonymous"></script>
        <link href="CSS/CSS.css" rel="stylesheet" type="text/css"/>
    </head>


    <aside class="barralateral">
        <br><br><br><br><br>
        <h2>Otras provincias</h2>
        <br><br>
        <a id="linkP" th:href="@{/Alajuela}"><h3>Alajuela</h3><br></a>
        <a id="linkP" th:href="@{/Cartago}"><h3>Cartago</h3><br></a>
        <a id="linkP" th:href="@{/Heredia}"><h3>Heredia</h3><br></a>
        <a id="linkP" th:href="@{/Puntarenas}"><h3>Puntarenas</h3><br></a>
        <a id="linkP" th:href="@{/Guanacaste}"><h3>Guanacaste</h3><br></a>
        <a id="linkP" th:href="@{/Limon}"><h3>Limon</h3></a>

    </aside>


    <body class="body2">

        

   <center>
        
        <h1>Wyndham Garden San José Escazú</h1>
        
        <br>

        <section>
            

            <video width="320" height="240" controls>
                <source src="../../static/Imagenes/videos/1SanJose3.mp4" type="video/mp4">
                Your browser does not support the <code>video</code> tag.
            </video>
            
            <br><br><br>
            
            <p class="descripHotel">Este hotel se encuentra a 5 minutos en coche del parque metropolitano La Sabana y del centro comercial Multiplaza y dispone<br>
                de piscina cubierta, terraza, bañera de hidromasaje y WiFi de alta velocidad.</p>
            
            <br><br>
            
            <p>Precio por noche: CRC 61.712</p>
            
            <br><br>
            
            <a class="descripHotel" href="https://www.guestreservations.com/wyndham-garden-san-jose-silicon-valley/booking?gclid=CjwKCAjwlcaRBhBYEiwAK341jZk7CZpXxjN-MBq3dcjno5CAD5NBEdWwmlWLFi1GNRftyQD_kcJRrRoCFkAQAvD_BwE">Pagina del hotel</a>
            
            <br><br>
            
            <form >
            <input class="boton" type="submit" name="guardar" value="Reservar"/>
            </form>
            
            <br><br><br><br><br><br>
            
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.968734801366!2d-84.1329641848016!3d9.93655937684872!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0fc82575ee9d5%3A0xfee5053187aca4ee!2sWyndham%20Garden%20Escaz%C3%BA!5e0!3m2!1ses-419!2scr!4v1649115720017!5m2!1ses-419!2scr"
                    width="700" height="550" style="border:0;" allowfullscreen=""  referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <p class="descripHotel">¡Ubicanos!</p>
        </section>


    </center>


    <br><br><br><br>
    <footer class="footer">
        <p>Para mas informacion llama al 2266-0632</p>
    </footer>
</body>
</html>
